<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arun.com.chromer">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intro.AppIntroMy"
            android:label="Intro"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".services.ClipboardService" />

        <receiver android:name=".chrometabutilites.ShareBroadcastReceiver" />
        <receiver android:name=".chrometabutilites.AddHomeShortcutReceiver" />

        <activity
            android:name=".ShareInterceptActivity"
            android:excludeFromRecents="true"
            android:label="Open in Chromer">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutAppActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DonateActivity"
            android:excludeFromRecents="true"
            android:theme="@style/DonatePopUp" />
    </application>

</manifest>
