<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="arun.com.chromer">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".Chromer"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".customtabs.dynamictoolbar.WebColorExtractorService" />
        <service android:name=".customtabs.callbacks.ClipboardService" />
        <service android:name=".customtabs.callbacks.AddHomeShortcutService" />
        <service android:name=".customtabs.warmup.WarmUpService" />
        <service
            android:name=".customtabs.prefetch.ScannerService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/service" />
        </service>
        <service
            android:name=".shared.AppDetectService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".customtabs.dynamictoolbar.AppColorExtractorService"
            android:exported="false" />
        <service
            android:name=".webheads.WebHeadService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".customtabs.KeepAliveService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />

        <receiver android:name=".customtabs.callbacks.ShareBroadcastReceiver" />
        <receiver android:name=".customtabs.callbacks.FavShareBroadcastReceiver" />
        <receiver android:name=".customtabs.callbacks.SecondaryBrowserReceiver" />
        <receiver android:name=".customtabs.callbacks.OpenInChromeReceiver" />
        <receiver android:name=".customtabs.callbacks.MinimizeBroadcastReceiver" />
        <receiver android:name=".customtabs.bottombar.BottomBarReceiver" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CustomTabActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".activities.intro.ChromerIntro"
            android:label="Intro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.intro.WebHeadsIntro"
            android:label="Intro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ShareInterceptActivity"
            android:excludeFromRecents="true"
            android:label="Open/Search with Chromer">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BrowserInterceptActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.about.AboutAppActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.payments.DonateActivity"
            android:excludeFromRecents="true"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".activities.blacklist.BlacklistManagerActivity"
            android:label="@string/blacklisted_apps"
            android:launchMode="singleInstance"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".webheads.ui.context.WebHeadContextActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/DialogTheme" />

        <activity
            android:name=".webheads.helper.ProxyActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <service
            android:name=".webheads.qs.WebHeadTile"
            android:icon="@drawable/ic_bubble_chart_white_24dp"
            android:label="@string/tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="arun.com.chromer.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${crashlyticsApiKey}"
            tools:replace="android:value" />
    </application>

</manifest>